$bp1: 1399.98px;
$bp2: 1199.98px;
$bp3: 991.98px;
$bp4: 767.98px;
$bp5: 575.98px;
$bp6: 479.98px;
$bp7: 360.98px;
$main-color: #313534;
$light-gray: rgba(22, 26, 25, 0.4);
$dark-gray: #989898;
$white: #ffffff;
$red: #B62732;
$green: #2A9D90;
$black-green:#125766;
$light-blue: #92CAEA;
$dark-blue: #46A7DF;
